

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}

.inputField {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.button2 {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #000000;
  color: white;
}

.button3 {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.button:hover {
  background-color: #0056b3;
}



